@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

body.show-nav {
    /* Width of nav */
    transform: translateX(250px);
}

nav {
    background-color: var(--primary-color);
    border-right: .125rem solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 12.5rem;
    z-index: 100;
    transform: translateX(-100%);
}

nav .logo {
    padding: 1.875rem 0;
    text-align: center;
}

nav .logo img {
    height: 4.6875rem;
    width: 4.6875rem;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: .125rem solid rgba(200, 200, 200, 0.1);
    padding: 1.25rem;
}

nav ul li:first-of-type {
    border-top: 0.125rem solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 130%;
    position: relative;
    padding: 2.5rem .9375rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 1.875rem 0;
}

button,
input[type="text"] {
    background-color: var(--secondary-color);
    border: none;
    border-radius: .3125rem;
    color: #fff;
    padding: .5rem .75rem;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.toggle {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.cta-btn {
    padding: .75rem 1.875rem;
    font-size: 1.25rem;
}

.container {
    padding: .9375rem;
    margin: 0 auto;
    max-width: 100%;
    width: 50rem;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show-modal {
    display: block;
}

.modal {
    background-color: #fff;
    border-radius: .3125rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 25rem;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header {
    background: var(--primary-color);
    color: #fff;
    padding: .9375rem;
}

.modal-header h3 {
    margin: 0;
    border-bottom: .0625rem solid #333;
}

.modal-content {
    padding: 1.25rem;
}

.modal-form div {
    margin: .9375rem 0;
}

.modal-form label {
    display: block;
    margin-bottom: .3125rem;
}

.modal-form .form-input {
    width: 100%;
    padding: .5rem;
}

.close-btn {
    background: transparent;
    font-size: 1.5625rem;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


